html[data-theme='dark'] .default-button{
    background-color: var(--secondary-black);
}

html[data-theme='dark'] .errorMessage{
  color: rgb(255, 26, 26);
}

.default-button{
    color: #FFF;
    background-color: #19719A;
    border: none;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .activated{
    padding-top: 6px;
    transform: translateY(4px);
    box-shadow: 0 4px 0 rgb(183,0,0),
      0 8px 6px rgba(0,0,0,.45) !important;
  }
  .buttonArea{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .default-button{
    color: #FFF;
    background-color: #19719A;
    border: none;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .activated{
    padding-top: 6px;
    transform: translateY(4px);
    box-shadow: 0 4px 0 rgb(183,0,0),
      0 8px 6px rgba(0,0,0,.45) !important;
  }
  .disabled{
    opacity: .5;
  }
  .buttonArea{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .errorMessage{
    padding: 10px 0px;
    color: red;
  }