body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D84B5;
  color: #E8F1F2;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
	--primary-blue: #1D84B5;
	--secondary-blue: #19719A;
}

html[data-theme='dark'] {
  color: red !important;
}

.darkBg{
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  display: none;
}
.activated-sidebar {
  display: block;
}
.sidebar-activated {
  width: 80%;
  visibility: visible;
}
.sidebar-logo{
  padding: 20px;
}
aside {
  display: flex;
  flex-direction: column;
  background: var(--secondary-blue);
  position: fixed;
  height: 100%;
  z-index: 999;
  width: 0%;
  transition: all 0.5s ease;
  visibility: hidden;
}
aside .sidebar-nav ul{
  transition: all 0.3s ease;
}
aside .sidebar-nav li{
  width: 90%;
  display: flex;
  margin: auto;
  margin-top: 10px;
  transition: all .2s ease;
}
aside .sidebar-nav li a{
  padding: 15px 10px;
  display: inline-block;
  width: 90%;
  border-radius: 6px;
  margin: auto;
}
a {
  text-decoration: none;
  color: #E8F1F2;
}
button{
  cursor: pointer;
}
.container{
  width: 90%;
  margin: auto;
}
.menu{
  display: flex;
  justify-content: space-between;
}
nav{
  height: 75px;
  background-color: #19719A;
  display: flex;
}
nav .logo img{
  height: 35px;
}
nav .hamburguer{
  display: flex;
  align-items: center;
}
nav .hamburguer svg{
  height: 30px
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #19719A;
}
footer img{
  height: 20px;
}
footer .footer{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
footer .container span{
  display: flex;
  align-items: center;
  font-size: 13px;
}
footer img{
  padding-left: 5px;
}
.version{
  position: absolute !important;
  bottom: 4px;
  right: 3px;
}
main .section{
  padding: 20px 0px;
  font-weight: bold;
  text-align: center;
}
main .section svg{
  height: 22px;
  padding-right: 4px;
}
.card-area{
  display: flex;
  justify-content: center;
}
.form-area{
  display: flex;
  justify-content: center;
  top: 0;
  position: absolute;
  height: 100vh;
  width: 90%;
  align-items: center;
  text-align: center;
}
.form-area form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-area input:focus{
  outline: auto;
}
.form-area input{
  background-color: transparent;
  border: 1px solid #E8F1F2;
  color: #FFF;
  height: 35px;
  padding-left: 10px;
}
::placeholder{
  color: #E8F1F2;
  opacity: 1;
  opacity: 87%;
}
.errorPage button{
  height: 35px;
  color: #FFF;
  background-color: #19719A;
  border: none;
  border-radius: 7px;
}
.errorPage button span{
  padding-left: 5px;
}
.default-button{
  color: #FFF;
  background-color: #19719A;
  border: none;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.buttonArea button{
  border-radius: 50%; 
  width: 200px;
  height: 200px;
  border: none;
  color: white;
  font-family: Avenir, Arial, sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  background: red;
  text-shadow: 0 3px 1px rgba(122,17,8,.8);
  box-shadow: 0 8px 0 rgb(183,9,0), 
    0 15px 20px rgba(0,0,0,.35);
  text-transform: uppercase;
  transition: .4s all ease-in;
  outline: none; 
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.activated{
  padding-top: 6px;
  transform: translateY(4px);
  box-shadow: 0 4px 0 rgb(183,0,0),
    0 8px 6px rgba(0,0,0,.45) !important;
}
.buttonArea{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errorMessage{
  display: none;
  padding: 10px 0px;
  color: red;
}
.card{
  height: 100px;
  width: 105px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  transition: .2s ease;
}
.card:hover{
  background-color: #D9D9D9;
  color: #19719A;
  transition: .2s ease;
}
.card-content{
  display: flex;
  flex-direction: column;
}
.card-icon svg{
  height: 43px;
}
.card-text{
  font-size: 18px;
  font-weight: bold;
}
.errorPage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* toggle button */ 
.wrg-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.wrg-toggle-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrg-toggle-check, .wrg-toggle-uncheck {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity .25s ease;
}
.wrg-toggle-check {
  left: 8px;
}
.wrg-toggle-uncheck {
  opacity: 1;
  right: 10px;
}

.wrg-toggle-uncheck span, 
.wrg-toggle-check span {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  position: relative;
  width: 10px;
}

.wrg-toggle-container{
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  transition: all .2s ease;
}

.wrg-toggle-circle{
  transition: all .5s cubic-bezier(.23,1,.32,1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all .25s ease;
}
.wrg-toggle--checked .wrg-toggle-check{
  opacity: 1;
}
.wrg-toggle--checked .wrg-toggle-uncheck {
  opacity: 0;
}
.wrg-toggle--checked .wrg-toggle-circle {
  left: 27px;
}